In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/Users/charliecoleman/Desktop/Git/Repositories/interview_practice/learning_scripts/charlie.csv')

In [4]:
df

      MOSAIC_UK_6_GROUP_NAME MOSAIC_UK_6_TYPE_NAME
0                Rental Hubs     Bus-Route Renters
1         Suburban Stability           Family Ties
2          Transient Renters         Renting Rooms
3          Modest Traditions   Back with the Folks
4              Vintage Value       Estate Veterans
...                      ...                   ...
30919     Prestige Positions        Alpha Families
30920          Rural Reality           Local Focus
30921    Aspiring Homemakers           Flying Solo
30922    Aspiring Homemakers   Contemporary Starts
30923                    NaN                   NaN

[30924 rows x 2 columns]

In [5]:
df['MOSAIC_UK_6_GROUP_NAME'].value_counts()

Aspiring Homemakers    5283
Family Basics          4037
Transient Renters      3465
Domestic Success       2895
Senior Security        2365
Suburban Stability     2356
Prestige Positions     1926
Modest Traditions      1923
Rental Hubs            1729
Urban Cohesion         1468
Vintage Value          1234
Municipal Tenants       928
Rural Reality           876
Country Living          380
City Prosperity          58
Name: MOSAIC_UK_6_GROUP_NAME, dtype: int64

In [6]:
col_vals = df['MOSAIC_UK_6_GROUP_NAME'].values.ravel()
unique_vals = pd.unique(col_vals)
unique_vals

array(['Rental Hubs', 'Suburban Stability', 'Transient Renters',
       'Modest Traditions', 'Vintage Value', 'Senior Security',
       'Aspiring Homemakers', 'Family Basics', 'Prestige Positions',
       'Domestic Success', 'Municipal Tenants', 'Urban Cohesion',
       'Rural Reality', 'Country Living', 'City Prosperity', nan],
      dtype=object)

In [7]:
df[df['MOSAIC_UK_6_TYPE_NAME'] == df['MOSAIC_UK_6_GROUP_NAME']].value_counts()

MOSAIC_UK_6_GROUP_NAME  MOSAIC_UK_6_TYPE_NAME
Modest Traditions       Modest Traditions        390
dtype: int64

In [8]:
col_vals = df['MOSAIC_UK_6_TYPE_NAME'].values.ravel()
unique_vals = pd.unique(col_vals)
unique_vals

array(['Bus-Route Renters', 'Family Ties', 'Renting Rooms',
       'Back with the Folks', 'Estate Veterans', 'Midlife Renters',
       'Bungalow Haven', 'Primary Ambitions', 'Families on a Budget',
       'Affordable Fringe', 'Flatlet Seniors', 'Bank of Mum and Dad',
       'First-Rung Futures', 'Boomerang Boarders', 'Economical Families',
       'Flying Solo', 'Pocket Pensions', 'Contemporary Starts',
       'Thriving Independence', 'Self Supporters',
       'Mid-Career Convention', 'Empty-Nest Adventure', 'Modern Parents',
       'Alpha Families', 'Classic Grandparents', 'Dependable Me',
       'Seasoned Survivors', 'Fledgling Free', 'Legacy Elders',
       'Solo Retirees', 'Solid Economy', 'Budget Generations',
       'Diamond Days', 'Modest Traditions', 'Single Essentials',
       'Career Builders', 'Value Rentals', 'Mature Workers',
       'New Foundations', 'Learners & Earners', 'Youthful Endeavours',
       'Culture & Comfort', 'Large Family Living', 'Ageing Access',
       'Central Pulse', 'Student Scene', 'Satellite Settlers',
       'Village Retirement', 'Wealthy Landowners',
       'Retirement Communities', 'Premium Fortunes', 'Local Focus',
       'Outlying Seniors', 'Rural Vogue', 'Cafes and Catchments',
       'Flexible Workforce', 'Community Elders', 'Uptown Elite',
       'Inner City Stalwarts', 'Metro High-Flyers', 'High Rise Residents',
       'City Diversity', 'Scattered Homesteads', 'World-Class Wealth',
       nan], dtype=object)

In [9]:
df

      MOSAIC_UK_6_GROUP_NAME MOSAIC_UK_6_TYPE_NAME
0                Rental Hubs     Bus-Route Renters
1         Suburban Stability           Family Ties
2          Transient Renters         Renting Rooms
3          Modest Traditions   Back with the Folks
4              Vintage Value       Estate Veterans
...                      ...                   ...
30919     Prestige Positions        Alpha Families
30920          Rural Reality           Local Focus
30921    Aspiring Homemakers           Flying Solo
30922    Aspiring Homemakers   Contemporary Starts
30923                    NaN                   NaN

[30924 rows x 2 columns]

In [16]:
df[df["MOSAIC_UK_6_GROUP_NAME"] == 'Rental Hubs'].value_counts()

MOSAIC_UK_6_GROUP_NAME  MOSAIC_UK_6_TYPE_NAME
Rental Hubs             Learners & Earners       561
                        Bus-Route Renters        327
                        Career Builders          325
                        Student Scene            196
                        Central Pulse            185
                        Flexible Workforce       135
dtype: int64

In [39]:
df['MOSAIC_UK_6_TYPE_NAME'][df["MOSAIC_UK_6_GROUP_NAME"] == 'Rental Hubs'].nunique()

6

In [32]:
unique_names = df['MOSAIC_UK_6_GROUP_NAME'].unique()

'Rental Hubs'

In [46]:
dict = {}
for i in range(0, len(unique_names)):
    count = df['MOSAIC_UK_6_TYPE_NAME'][df["MOSAIC_UK_6_GROUP_NAME"] == unique_names[i]].nunique()
    dict[unique_names[i]] = count

In [47]:
dict

{'Rental Hubs': 6,
 'Suburban Stability': 4,
 'Transient Renters': 4,
 'Modest Traditions': 3,
 'Vintage Value': 5,
 'Senior Security': 4,
 'Aspiring Homemakers': 6,
 'Family Basics': 4,
 'Prestige Positions': 5,
 'Domestic Success': 4,
 'Municipal Tenants': 5,
 'Urban Cohesion': 4,
 'Rural Reality': 3,
 'Country Living': 4,
 'City Prosperity': 3,
 nan: 0}